@import "./mixins.scss";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
    
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Hind Madurai/HindMadurai-Regular.ttf") format("truetype");
    src: url("../fonts/Hind Madurai/HindMadurai-Regular.woff2") format("woff2"), 
    url("../fonts/Hind Madurai/HindMadurai-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Hind Madurai/HindMadurai-Medium.ttf") format("truetype");
    src: url("../fonts/Hind Madurai/HindMadurai-Medium.woff2") format("woff2"), 
    url("../fonts/Hind Madurai/HindMadurai-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Hind Madurai/HindMadurai-SemiBold.ttf") format("truetype"), url("../fonts/Hind Madurai/HindMadurai-SemiBold.woff2") format("woff2"), 
    url("../fonts/Hind Madurai/HindMadurai-SemiBold.woff") format("woff");
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Hind Madurai/HindMadurai-Bold.ttf") format("truetype");
    src: url("../fonts/Hind Madurai/HindMadurai-Bold.woff2") format("woff2"), 
    url("../fonts/Hind Madurai/HindMadurai-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Fredoka One/FredokaOne-Regular.ttf") format("truetype"), url("../fonts/Fredoka One/FredokaOne-Regular.woff2") format("woff2");
}
/*==========================================*/

$minwidth: 320px;
$mw:1117;
$md1:$mw+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

/*==========================================*/
html, body{
    padding: 0;
    margin: 0;
}
body{
    color:#000;
    background: #fff;
    font-size: 14px;
}
body._lock{
    overflow: hidden;
    @media (max-width: $md3+px) {
    }
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style-type:none  
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
/*==========================================*/

._container {
    max-width: $mw+px;
    margin: 0 auto;
    @include small-desktop-min{
        padding: 0 30px;
    }
    @include small-tablet{
        max-width: none;
        padding: 0 25px;
    }
    // @media (max-width: $md3+px) {
    //     max-width: none;
    //     padding: 0 10px;
    // }
}
// ===========================================================
.text {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: normal;
    line-height: calc(27 / 18 * 100%);
    
    color: rgba(14, 1, 1, 0.6);
}
.btn {
    background: #D23166;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    padding: 13px 50px;

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(22 / 16 * 100%);
    color: #FAFAFA;
    transition: background 0.3s ease 0s;
    @media (min-width:992px) {
        &:hover{
            background-color: #d00045;
        }
    }
}
.product-img{
        margin: auto 0;
        // overflow: hidden;
        img{
            max-width: 100%;
        }
}
.product-title{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(36 / 26 *100%);

}
.title{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    @include tablet{
        font-size: 40px;
    }
}
.page{
    flex: 1 1 auto;
    
}

/*==========================================*/
@import "_header.scss";
/*==========================================*/
@import "_home.scss";
@import "product.scss";
/*==========================================*/
@import "_footer.scss";